<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-12 col-md-12 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
        <div class="card" *ngIf="OdeS">
          <div class="card-header pb-0 text-center">
            <h1>Cierre de orden de servicio</h1>
          </div>
          <div class="card-body">
            <div class="row mt-4">
              <div class="col-6 text-start">
                <p><b>Fecha:</b></p>
              </div>
              <div class="col-6 text-end">
                <p>{{ OdeS.fServicio }}</p>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-12 text-center">
                <p class="m-1"><b>Descripción</b></p>
              </div>
              <div class="col-12 text-center">
                <p class="m-1">{{ OdeS.strDescripcion }}</p>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-12 text-center">
                <p class="m-1"><b>Modelo</b></p>
              </div>
              <div class="col-12 text-center">
                <p class="m-1">{{ OdeS.strModelo }}</p>
              </div>
              <div class="col-6 text-start">
                <p class="m-1"><b>Marca</b></p>
              </div>
              <div class="col-6 text-end">
                <p class="m-1">{{ OdeS.strMarca }}</p>
              </div>
              <div class="col-6 text-start">
                <p class="m-1"><b>Serie</b></p>
              </div>
              <div class="col-6 text-end">
                <p class="m-1">{{ OdeS.serie }}</p>
              </div>
              <div class="col-6 text-start">
                <p class="m-1"><b>MPS</b></p>
              </div>
              <div class="col-6 text-end">
                <p class="m-1">{{ OdeS.strEnergias }}</p>
              </div>
              <div class="col-12 text-center">
                <p class="m-1"><b>Cliente</b></p>
              </div>
              <div class="col-12 text-center">
                <p class="m-1">{{ OdeS.cliente_Nombre }}</p>
              </div>
              <div class="col-6 text-start">
                <p class="m-1"><b>Sitio</b></p>
              </div>
              <div class="col-6 text-end">
                <p class="m-1">{{ OdeS.strSitio }}</p>
              </div>
              <div class="col-6 text-start">
                <p class="m-1"><b>Ubicación</b></p>
              </div>
              <div class="col-6 text-end">
                <!-- <p>{{ modalData.strEnergias }}</p> -->
              </div>
              <div class="col-6 text-start">
                <p class="m-1"><b>Localidad</b></p>
              </div>
              <div class="col-6 text-end">
                <p class="m-1">{{ OdeS.localidad }}</p>
              </div>
              <div class="col-6 text-start">
                <p class="m-1"><b>Región</b></p>
              </div>
              <div class="col-6 text-end">
                <p class="m-1">{{ OdeS.strRegion }}</p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center" *ngIf="OdeS.intStatus == 2">
                <button class="btn btn-primary btn-block w-100"
                 type="submit" (click)="iniciarOrden()">Iniciar</button>
              </div>
              <div class="col-12 text-center mt-3" *ngIf="OdeS.intStatus == 4">
                <button class="btn btn-secondary btn-block w-100"
                 type="submit" (click)="procesoCierre();">Proceso cierre</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
