<div class="row text-center" *ngIf="events.length > 0">
  <div class="col-md-4">
      <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">Anterior
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">Hoy
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"> Siguiente
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
  </div>
  <!-- <div class="col-md-4">
      <div class="btn-group">
          <div class="btn btn-primary" (click)="setView(CalendarView.Month)"[class.active]="view === CalendarView.Month"> Mes</div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Week)"[class.active]="view === CalendarView.Week"> Semana</div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">Día</div>
      </div>
  </div> -->
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view #calendar *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" locale="es" [events]="events" [refresh]="refresh" [activeDayIsOpen]="false" (dayClicked)="handleEvent('Clicked', $event.day.events[0])" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-month-view>
  <!-- <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" locale="es" [events]="events"[refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" locale="es" [events]="events" [refresh]="refresh"(eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-day-view> -->
</div>
<br /><br /><br />

<ng-template #modalContent let-close="close">
  <div class="modal-header">
      <h5 class="modal-title"><img src="assets/images/logo/elekta-logo-1.png"></h5>
      <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Detalles de orden de servicio seleccionada</h3>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6 text-start">
        <p><b>Fecha:</b></p>
      </div>
      <div class="col-6 text-end">
        <p>{{ modalData.fServicio }}</p>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12 text-center">
        <p class="m-1"><b>Descripción</b></p>
      </div>
      <div class="col-12 text-center">
        <p class="m-1">{{ modalData.strDescripcion }}</p>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12 text-center">
        <p class="m-1"><b>Modelo</b></p>
      </div>
      <div class="col-12 text-center">
        <p class="m-1">{{ modalData.strModelo }}</p>
      </div>
      <div class="col-6 text-start">
        <p class="m-1"><b>Marca</b></p>
      </div>
      <div class="col-6 text-end">
        <p class="m-1">{{ modalData.strMarca }}</p>
      </div>
      <div class="col-6 text-start">
        <p class="m-1"><b>Serie</b></p>
      </div>
      <div class="col-6 text-end">
        <p class="m-1">{{ modalData.serie }}</p>
      </div>
      <div class="col-6 text-start">
        <p class="m-1"><b>MPS</b></p>
      </div>
      <div class="col-6 text-end">
        <p class="m-1">{{ modalData.strEnergias }}</p>
      </div>
      <div class="col-12 text-center">
        <p class="m-1"><b>Cliente</b></p>
      </div>
      <div class="col-12 text-center">
        <p class="m-1">{{ modalData.cliente_Nombre }}</p>
      </div>
      <div class="col-6 text-start">
        <p class="m-1"><b>Sitio</b></p>
      </div>
      <div class="col-6 text-end">
        <p class="m-1">{{ modalData.strSitio }}</p>
      </div>
      <div class="col-6 text-start">
        <p class="m-1"><b>Ubicación</b></p>
      </div>
      <div class="col-6 text-end">
        <!-- <p>{{ modalData.strEnergias }}</p> -->
      </div>
      <div class="col-6 text-start">
        <p class="m-1"><b>Localidad</b></p>
      </div>
      <div class="col-6 text-end">
        <p class="m-1">{{ modalData.localidad }}</p>
      </div>
      <div class="col-6 text-start">
        <p class="m-1"><b>Región</b></p>
      </div>
      <div class="col-6 text-end">
        <p class="m-1">{{ modalData.strRegion }}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <button class="btn btn-primary btn-block w-100"
         type="submit" (click)="aceptarOrden()">Aceptar asignación</button>
      </div>
      <div class="col-12 text-center mt-3">
        <button class="btn btn-secondary btn-block w-100"
         type="submit" (click)="showModalRechazo(modalContentRechazo);">Rechazar asignación</button>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">OK </button>
  </div> -->
</ng-template>

<ng-template #modalContentRechazo let-close="close">
  <!-- <div class="modal-header">
      <h5 class="modal-title"><img src="assets/images/logo/elekta-logo-1.png"></h5>
      <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div> -->
  <div class="modal-body">
    <div class="row">
      <div class="col-12 text-center">
        <h1><b>Rechazar asignación</b></h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-left mt-2">
        <h2>Razón del rechazo</h2>
      </div>
      <div class="col-12 mt-2">
        <select #cmbCostumer class="form-control"  [(ngModel)]="idMotivo">
          <option value="">-Seleccione una opción-</option>
          <option *ngFor="let item of arrMotivosRechazo" [value]="item.intMotivoId">{{ item.strMotivo }}</option>
        </select>
      </div>
      <div class="col-12 text-center mt-2">
        <textarea class="form-control" rows="4" placeholder="Observaciones" [(ngModel)]="txtObservaciones"></textarea>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="rechazarOrden()">Rechazar</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
  </div>
</div>
</ng-template>
